body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #f0e6d6;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
}

.bg {
  background: linear-gradient(#222, #111);
  height: 100svh;
  width: 100%;
  position: fixed;
}

.container {
  min-height: 90svh;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #000;
  background: linear-gradient(#222, #111);
  box-shadow:
    0rem 0rem 5rem 1rem #ffffff22,
    0rem 0rem 1rem -0.3rem #ffffff22,
    inset 0rem 1rem 2rem #000,
    inset 0rem -0.2rem 1rem #ffffff44;
  border: none;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

/* Sheen over box */
.container::before {
  content: '';
  background: white;
  opacity: 3%;
  height: 100rem;
  width: 100rem;
  position: absolute;
  top: -50rem;
  left: -80rem;
  transform: rotate(30deg);
  pointer-events: none;
}

/* Glassy highlight on top */
.container::after {
  content: '';
  width: 98%;
  height: 3rem;
  border-radius: 2rem;
  position: absolute;
  top: -1px;
  left: 50%;
  translate: -50% 0;
  background: linear-gradient(#ffffff66, #ffffff00 50%);
}

.title {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 0 2rem 0;
  color: #f0e6d6;
  text-shadow:
    0 0.08rem 0.05rem #000,
    0 -0.05rem 0.05rem #f9f9f9;
}

/* Source filters */
.collapse-div-btn {
  width: 100%;
  height: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: solid 1px #111;
  color: #f0e6d6;
  background: #222;
  box-shadow:
    inset -2px -2px 4px #111,
    inset 2px 2px 4px #666,
    0 2px 2px #11111166;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.collapse-div-btn::after {
  content: '▼';
  /* ◀▲▼▶ */
}

.collapse-div-btn:active {
  box-shadow:
    inset -1px -1px 4px #111,
    inset 1px 1px 4px #666,
    0 0px 0px #11111100;
}

.source-filters {
  max-height: 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow:
    inset 2px 2px 4px #111,
    inset -2px -2px 4px #666;
  position: relative;
  top: -2rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkboxes {
  margin: 2.5rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
}

.source-filter-btn {
  border-radius: 1rem;
  width: 100%;
  height: 2rem;
  border: solid 1px #111;
  color: #f0e6d6;
  background: #222;
  box-shadow:
    inset -2px -2px 4px #111,
    inset 2px 2px 4px #666,
    0 4px 2px #11111133;
}

.source-filter-btn:active {
  box-shadow:
    inset -1px -1px 4px #111,
    inset 1px 1px 4px #666,
    0 0px 0px #11111100;
}

.hidden {
  display: none;
}

.revealed {
  max-height: 28rem;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Search box and button */
.monster-search-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.monster-input {
  padding: 1rem 1.5rem;
  box-shadow:
    inset 2px 2px 4px #111,
    inset -2px -2px 4px #666;
  background: none;
  border: none;
  border-radius: 50px;
  color: #f0e6d6;
  width: 100%;
  margin-bottom: 2rem;
}

.gem-button {
  height: 3rem;
  padding: 10px 20px;
  margin: 0 0 2rem 0;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  border: solid 1px #1d1d1d;
  background: #852323;
  box-shadow:
    0 4px 3px 1px #3a2b2b,
    0 8px 8px #1a1a1a,
    0 -4px 4px #2c1e1e,
    0 -6px 4px #444444,
    inset 0rem 1rem 2rem #270000,
    inset 0rem -0.2rem 1rem #ff8080;
  position: relative;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gem-button::after {
  content: '';
  width: 96%;
  height: 2rem;
  border-radius: 1rem;
  background: linear-gradient(#ffffff66, #ffffff00 50%);
  position: absolute;
  top: 0px;
  left: 2%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gem-button:hover {
  background: #b81f1f;
  box-shadow:
    0 4px 3px 1px #5a3434,
    0 8px 8px #1a1a1a,
    0 -4px 4px #492e2e,
    0 -6px 4px #444444,
    0 0 20px 6px #5a3434,
    inset 0rem 1rem 2rem #270000,
    inset 0rem -0.2rem 1rem #ff8080;
}

.gem-button:active {
  background: #f13b3b;
  box-shadow:
    0 4px 3px 1px #5a3434,
    0 8px 8px #1a1a1a,
    0 -4px 4px #492e2e,
    0 -6px 4px #444444,
    0 0 20px 6px #5a344f,
    inset 0rem 1rem 2rem #270000,
    inset 0rem -0.2rem 1rem #ff8080;
}

.gem-button:active::after {
  height: 2.5rem;
}

/* RESULT */
.monster-result {
  border-radius: 4px;
  text-align: left;
}

.monster-image {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 1rem;
}

/* MONSTER STAT BLOCK */

.monster-stat-block {
  padding: 16px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow:
    inset 2px 2px 4px #111,
    inset -2px -2px 4px #666;
}

.monster-name {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.monster-image {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

.monster-abilities,
.monster-actions,
.monster-legendary-actions,
.monster-spells {
  margin-top: 20px;
}

.spell-stat-block {
  border: 1px solid #444;
  padding: 10px;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.spell-stat-block h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.spell-list button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

/* Style for the notification */
.notification {
  background-color: #dbffdb54;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: none; /* Initially hidden */
}

.notification--unhide {
  display: block;
}
